<div class="card card-cover overflow-hidden rounded-4 shadow-lg"
     style="background-image: url('{{ card.fileBasePath }}');">
    <div class="publication d-flex flex-column h-100 p-5 pb-3 text-white">
        {% if card.text is defined %}
            <p class="publication-text text-danger ">{{ card.text | striptags | slice(0, 100) ~ '...' }}</p>
            <h4 class="pt-5 text-shadow-white {% if card.text | length < 100 %} mt-5 {% endif %} mb-4 fw-bold text-danger">{{ card.shortTitle }}</h4>
        {% else %}
            <h4 class="pt-5 text-shadow-white mb-4 fw-bold text-danger">{{ card.name }}</h4>
        {% endif %}

        <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
                <img src="{{ asset('img/chat.jpg') }}" alt="Anarchat"
                     class="rounded-circle border border-white" width="32" height="32">
            </li>

            {% if card.categorie is defined %}
                <li class="d-flex align-items-center me-3">
                    <strong class="small text-white text-shadow">{{ card.categorie }}</strong>
                </li>
            {% endif %}

            <li class="d-flex align-items-center">
                <i class="fa-solid fa-calendar-days me-2 text-shadow"></i>
                <small class="text-shadow">{{ card.updatedAt ? card.updatedAt.format("d/m/y") : card.createdAt.format("d/m/y") }}</small>
            </li>
        </ul>
    </div>
</div>