<nav class="navbar navbar-expand bg-dark mb-4 ">
    <div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{{ path('app_index') }}"
           class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="{{ asset('img/chat.jpg') }}" alt="Chat de la CNT" class="rounded-circle" width="64" height="64">
        </a>

        <ul class="nav col-lg-auto ms-5 me-lg-auto justify-content-center mb-md-0 text-color-danger">
            <li><a href="{{ path('app_index') }}" class="nav-link px-3 text-danger">Accueil</a></li>
            <li><a href="{{ path('app_article_index') }}" class="nav-link px-3 text-danger">Publications</a></li>
            <li><a href="#" class="nav-link px-3 text-danger">Les syndicats CNT</a></li>
            <li><a href="{{ path('app_files_index') }}" class="nav-link px-3 text-danger">Fichiers</a></li>
            <li><a href="{{ path('app_contact') }}" class="nav-link px-3 text-danger">Contacts</a></li>
        </ul>

        <form class="d-flex" role="search">
            <input type="search" name="search" class="form-control form-control-dark" placeholder="Chercher un article"
                   aria-label="Search"
                   hx-post="/search"
                   hx-trigger="keyup changed delay:500ms, search"
                   hx-target="#main"
                   hx-indicator=".htmx-indicator">
        </form>
    </div>
</nav>