<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <title>CNT</title>
    <link rel="icon" href="{{ asset('img/chat.jpg') }}">
    <link href="{{ asset('bootstrap-5.3.0-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/cnt.css') }}" rel="stylesheet">
</head>
<body>

<header>{{ include('componant/_nav.html.twig') }}</header>
<main class="min-height" id="main">{% block body %}{% endblock %}</main>
{% include 'componant/_toast.html.twig' %}
{{ include('componant/_footer.html.twig') }}

<script src="https://unpkg.com/htmx.org@1.9.2"></script>
<script src="https://kit.fontawesome.com/e1028637a8.js" crossorigin="anonymous"></script>
<script src="{{ asset('bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('js/cnt.js') }}"></script>
</body>
</html>
